.container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
    flex-direction: column;
  }
  
  .card {
    width: 600px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .name {
    margin: 10px 0 5px;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .character {
    font-size: 0.9em;
    color: #555;
  }
  